<div class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
        <div class="nk-header-wrap">
            <div class="nk-menu-trigger d-xl-none ml-n1">
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
            </div>
            <div class="nk-header-brand d-xl-none">
                <a href="html/index.html" class="logo-link">
                    <img class="logo-light logo-img" src="/images/t_logo.svg" srcset="/images/t_logo.svg" alt="logo">
                    <img class="logo-dark logo-img" src="/images/t_logo.svg" srcset="/images/t_logo.svg" alt="logo-dark">
                </a>
            </div><!-- .nk-header-brand -->
            <div class="nk-header-news d-none d-xl-block">
            </div><!-- .nk-header-news -->
            <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                   <!-- .dropdown -->
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="user-toggle">
                                <div class="user-avatar sm">
                                    <em class="icon ni ni-user-alt"></em>
                                </div>
                                <div class="user-info d-none d-md-block">
                                    <div class="user-status"> <%= currentUser.role %> </div>
                                    <div class="user-name dropdown-indicator"><%= currentUser.firstName %>
                                         <%= currentUser.lastName %>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                <div class="user-card">
                                    <div class="user-avatar">
                                        <span>AB</span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text"><%= currentUser.firstName %> <%= currentUser.lastName %></span>
                                        <span class="sub-text"><%= currentUser.email %> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li><a href="/identity/manage"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                    <li><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
                                </ul>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li><a href="/identity/logout"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li><!-- .dropdown -->
                    <li class="dropdown notification-dropdown mr-n1">
                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                                            <div class="icon-status icon-status-na "><em class="icon ni ni-bell"></em></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-head">
                                                <span class="sub-title nk-dropdown-title">Notifications</span>
                                                <form id="mark-all-form" action="/Home/MarkAllNotificationsAsViewed" method="post">
                                                    <a href="javascript: void(0)" onclick="javascript: document.getElementById('mark-all-form').submit()">Mark All as Read</a>
                                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8L-jzOfSM-9BiKNZ66Zfv7JlNlBA0DFlylYEic61BWyIaueLy3CwgcqqnOaraJdBsSxrZ-BkUjg9zKsR2lVkerF5tNJh3gExfWkZDjih3c2vgBPsiIbAAySVXR3-IykInut2O03RLpdOH0Jzo3lhqtClp9Ol6SYDPHrFD8k3KGvsrFHPSuWtYgAtI4f-dHfEow" /></form>

                                            </div>
                                            <div class="dropdown-body">
                                                <div class="nk-notification">
                                                        <p class="text-center py-3">You have no new notifications</p>
                                                </div>
                                            </div>
                                        </div>
                       
                    </li><!-- .dropdown -->
                </ul><!-- .nk-quick-nav -->
            </div><!-- .nk-header-tools -->
        </div><!-- .nk-header-wrap -->
    </div><!-- .container-fliud -->
</div>